@import 'base/variables';
@import 'base/mixins';

.game-board {
  background-color: $gray;
  position: relative;
  width: 100%;
}
.game-board-container {
  $size: 400px;

  height: $size;
  margin-left: -$size / 2;
  left: 50%;
  padding: 42px 0;
  position: relative;
  width: $size;
}

// Botao jogar: circulo envolvendo um simbolo de tocar
.game-play {
  $circle-size: 200px;
  $triangle-size: 120px;

  @include circle($circle-size);

  left: 50%;
  margin-left: -$circle-size / 2;
  margin-top: -$circle-size / 2;
  padding: 0;
  position: relative;
  top: 50%;
  background: $brand-primary;
  border: 0;

  &::before {
    border: $triangle-size / 2 solid transparent;
    border-left: $triangle-size solid $brand-secondary;
    border-right-width: 0;
    content: '';
    margin-top: -$triangle-size / 2;
    // Para dispor o simbolo no meio do ciculo eh necessario posicionar o centro do triangulo compensando a diferenca entre seus lados
    $triangle-offset: $triangle-size / 2;
    $triangle-offset: $triangle-offset - $triangle-offset / 4;
    margin-left: -$triangle-offset;
    position: absolute;
    top: 50%;
  }
}

.hole {
  @include circle(12%);

  background-color: $brand-primary;
  display: inline-block;
  margin: 1%;
}
.invisible-hole {
  @extend .hole;
  visibility: hidden;
}

.peg {
  $size: 80%;
  @include circle(80%);

  margin: auto;
  position: relative;
  top: 50%;
  margin-top: -$size / 2;
  background-color: $brand-secondary;
}

.game-restart {
  background-color: $brand-primary;
  border: none;
  display: none;
  font-size: 1.25em;
  height: 36px;
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
}

#game-main, #game-status {
  @include block();

  border-radius: $base-radius;
  margin: $base-space;
}

@media (min-width: $screen-desktop-min) {
  #game-main {
    width: calc(70% - (#{$base-space} * 4) - 2px);
  }

  #game-status {
    width: calc(30% - (#{$base-space} * 4) - 2px);
  }
}
