// Define o estilo de um bloco em meio ao design proposto
@mixin block($highlight: false) {
  @if ($highlight) {
    background-color: $gray-dark;
    color: $gray-light;
  }
  @else {
    background-color: #FFF;
    color: $gray-dark;
  }

  border: 1px solid $gray;
  padding: $base-space;
}

// Ajusta as margens que sobram no inicio e fim do bloco
@mixin block-adjust() {
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}
