// Define o estilo de um bloco em meio ao design proposto
@mixin block($highlight: false) {
  @if ($highlight) {
    background-color: $gray-dark;
    color: $gray-light;
  }
  @else {
    background-color: #FFF;
    color: $gray-dark;
  }

  padding: $base-space;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 100%;
}
