body {
  background-color: $gray-light;
  color: $gray-dark;
  font-family: 'Tahoma', sans-serif;
  margin: 0;

  // font smoothing
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header {
  @include block(true);

  margin-bottom: $base-space;
}

.title {
  border-left: 3px solid $brand-primary;
  font-weight: normal;
  font-size: 1.25em;
  margin-bottom: 16px;
  padding-left: 12px;
  text-transform: uppercase;
}

.game-title {
  background-color: $brand-primary;
  border: 2px dotted darken($brand-primary, 10%);
  border-radius: $base-radius;
  color: $gray-dark;
  display: inline;
  font-family: 'Courier', sans-serif;
  font-size: 2.25em;
  font-weight: normal;
  margin: 0;
  letter-spacing: 4px;
  padding-left: $base-space;
  padding-right: $base-space;
  text-shadow: darken($brand-primary, 6%) 1px 3px 2px;
  text-transform: none;

  .one {
    font-weight: 900;
    color: $brand-secondary;
  }
}

footer {
  @include block(true);

  bottom: 0;
  position: relative;
  text-align: right;
  width: calc(100% - #{$base-space} * 2);
}

a {
  color: $link-color;

  &:not(:hover):not(:focus) {
    text-decoration: none;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.contain {
  max-width: $screen-max - ($base-space * 2);
}

@media (min-width: $screen-max) {
  .contain {
    margin-left: calc(-#{$screen-max} / 2);
    left: 50%;
    position: relative;
  }
}
