// Cores
$brand-primary:   #F09C00;
$brand-secondary: #B22222;
$gray-dark:       #333;
$gray:            #999;
$gray-light:      #F4F4F4;
$link-color:      $brand-primary;

// Base
$base-space:  15px;
$base-radius: 4px;

// Tela
$screen-desktop-min: 768px;
$screen-max: 1200px;
