@import 'base/variables';
@import 'base/mixins';

.game-board {
  position: relative;
  background-color: $gray-500;
}

.game-board-container {
  position: relative;
  width: $board-size;
  height: $board-size;
  margin-left: -$board-size / 2;
  left: 50%;
  padding: 16px 0;
}

// Botao jogar: circulo envolvendo um simbolo de tocar
.game-play {
  $circle-size: 200px;
  $triangle-size: 120px;

  @include circle($circle-size);

  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -$circle-size / 2;
  margin-top: -$circle-size / 2;
  border: 0;
  padding: 0;
  background: $brand-primary;

  &::before {
    border: $triangle-size / 2 solid transparent;
    border-left: $triangle-size solid $brand-secondary;
    border-right-width: 0;
    content: '';
    margin-top: -$triangle-size / 2;
    // Para dispor o simbolo no meio do ciculo eh necessario posicionar o centro do triangulo compensando a diferenca
    // entre seus lados
    $triangle-offset: $triangle-size / 2;
    $triangle-offset: $triangle-offset - $triangle-offset / 4;
    margin-left: -$triangle-offset;
    position: absolute;
    top: 50%;
  }
}

.hole {
  @include circle(12%);

  background-color: $brand-primary;
  display: inline-block;
  margin: 1%;
}

.invisible {
  visibility: hidden;
}

.peg {
  $size: 70%;
  @include circle($size);

  cursor: move;
  background-color: $brand-secondary;
  margin: -$size / 2 auto;
  position: relative;
  top: 50%;
  box-shadow: rgba($gray-800, .2) 0 3px 2px;
}

.game-restart {
  background-color: $brand-primary;
  border: none;
  display: none;
  font-size: 1.25em;
  height: 36px;
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
}
